
server/src/.vscode/
server/src/src
server/src/docs/
__dummy.html
docs.json
.dub
src.so
src.dylib
src.dll
src.a
src.lib
src-test-*
*.exe
*.o
*.obj
*.lst
*.class
*.apk
*.cache
*.dex
*.java
*.jar
*.txt
*.stamp
.idea
client\Compendia\Compendia\Compendia.Android\obj\Debug\*
client\Compendia\Compendia\Compendia.Android\obj\Release\*
